.inputWrapper {
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  padding: 15px;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

  input {
    width: 100%;

    &:focus::placeholder {
      color: var(--bg-color);
    }
  }
}

.invalid {
  border-color: red;
}
