.popupWrapper {
  position: fixed;
  top: 0;
  height: 100svh;
  width: 100svw;
  background-color: hsl(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
  .popupWrapper {
    background-color: var(--base);
  }
}
