.header {
  padding: 20px 0 16.37px;
  border-bottom: 1px solid var(--base30);
  position: sticky;
  top: 0;
  background-color: var(--bg-color);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 44px;
    height: 53px;
  }
}
