.blogSection {
  padding: 60px 0 150px;

  .title {
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .blogSection {
    padding: 40px 0 48px;
    .list {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .title {
      margin-bottom: 30px;
    }
  }
}
